.Team-options button{
   margin-right: 1rem;
   width: 10rem;
}

.Team-options{
    margin-left: 1.5rem;
    width: 44%;
}


.create-options button{
    margin-left: 1rem;
}

.myTeam img {
    width: 30%;
}

/* create team process */

.cross-button{
    width: 5%;
    cursor: pointer;
    
}

.cover-photo{
    width: 100%;
    height: 10rem;
    background-color: #FBE9E9;
    
}
.upload-overlay{
    cursor: pointer;
}

.upload-overlay img{
    width: 10%;
}

.upload-icon-container img{
    width: 50%;
}

.upload-icon-container{
    position: absolute;
    bottom: -50%;
    left: 5%;
    transform: translateY(-75%);
    cursor: pointer;
}

.upload-overlay p{
    color: #D32E2F;
}

.input-with-icon {
    position: relative;
}

.input-with-icon input {
    padding-left: 40px; /* Adjust according to the width of the image */
    width: 100%;
    border-left: 1px solid #ccc;
    
}



.input-icon {
    width: 8%;
    position: absolute;
    left: 8px; /* Adjust the left position according to your design */
    top: 50%;
    transform: translateY(-50%);
}

.input-with-icon  input, .team-details select{
    background-color: #F4F5F9;
}

.color-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid transparent; /* Default border color is transparent */
    margin-right: 10px;
}

/* Define colors for each button */
.red {
    background-color: #FBF1F1;
    border-color: #D77472;
}

.green {
    background-color: #E7F3E5;
    border-color: #80BE73;
}

.blue {
    background-color: #E9F2FD;
    border-color: #61B4DB;
}

.yellow {
    background-color: #FFFCE5;
    border-color: #FFE200;
}

.orange {
    background-color: rgb(246, 234, 212);
    border-color: orange;
}



/* About me  */

.aboutMe .upload-icon img{
width: 15%;
cursor: pointer;
}

.aboutMe .upload-icon p{
    color: blue;
    cursor: pointer;
}

.aboutme-form textarea{
    background-color: #F4F5F9;

}

.aboutme-form textarea::placeholder{
    padding: 0.5rem;
}

.aboutme-form input{
    padding-left: 8px;
}

.aboutme-buttons button{
    width: 20%;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.323);
    backdrop-filter: blur(2px);
    z-index: 1;
}



.half-container {
    position: fixed;
    overflow: auto;
    height: 100%;
    top: 50%;
    right: 0;
    width: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    background-color: #ffffff;
}

.details-options button{
    border: 1px solid #ccc;
     border-radius: 51%;
}
.details-options .line{
    color: #ccc;
}



.selected {
    background-color: #FBE9E9;
    border-color: #D32F2F;
}




@media screen and (max-width: 1284px) {

    .half-container {
        width: 100%;
        position: fixed;
        overflow: auto;
      
    }
}