/* my team  */
.Team-options button {
    margin-right: 1rem;
    width: 10rem;
}

.delete-button:hover{
     background-color: #D32E2F;
     color: white !important;
}

.Team-options {
    margin-left: 1.5rem;
    width: 44%;
    border: 0.8px solid #E6E7E9;
    border-radius: 16px !important; 
}

.custom-option-btn {
    width: 528px;

}

.custom-option-btn button {
    width: 225px !important;
}


.create-options button {
    margin-left: 1rem;
}



.members-list .remove-button{
    display: inline-block !important;

}

.members-list .pending{
    display: inline-block !important;
}
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.teams-container {
    /* background-color: #E7F3E5; */
    border-radius: 16px;
    cursor: pointer;
}

.teamList-container{
    overflow-y: auto;
}

.teams-container .main-pick {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.sportIcon {
    background-color: #f3f9f2;
    border-radius: 46.5px;
    width: 100%;
    height: 2rem;
}

.sportIcon p {
    font-size: 16px;
}

.sportIcon img {
    width: 80%;
}

.share-btn {
    width: 50% !important;
}

.share-btn:hover {
    width: 55% !important;
    transition: width 0.2s ease-in-out;
}


.react-confirm-alert-overlay{
    background-color: rgba(255, 255, 255, 0.3 ) !important;
}

.react-confirm-alert-button-group > .yes-button{
    background-color: #D32E2F !important;
    color: white !important;
}

.react-confirm-alert-button-group > .no-button{
    background-color: white !important;
    color: black !important;
    border: 1px solid #ccc;
}

.react-confirm-alert-button-group > .yes-button:hover{
    background-color: #e54545 !important;
    color: white !important;
}

.react-confirm-alert-button-group > .no-button:hover{
    background-color: rgba(255, 255, 255, 0.27) !important;
   
}

/* create team process */

.create-team-offcanvas{
    width: 50% !important;
}

.cross-button {
    width: 5%;
    cursor: pointer;

}

.cover-photo {
    width: 100%;
    height: 10rem;
    background-color: #FBE9E9;
}



.upload-overlay {
    cursor: pointer;
}

.upload-overlay img {
    width: 10%;
    /* z-index: 100; */
}

.upload-icon-container .logo-icon img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.upload-icon-container {
    position: absolute;
    bottom: -50%;
    left: 5%;
    transform: translateY(-75%);
    cursor: pointer;
}

.upload-overlay p {
    color: #D32E2F;
    /* z-index: 100; */
}

.input-with-icon {
    position: relative;
}

.input-with-icon input {
    padding-left: 40px;
    /* Adjust according to the width of the image */
    width: 100%;
    border-left: 1px solid #ccc;

}

.input-with-icon input::placeholder {
    color: #9A9BA5;
}


.input-icon {
    width: 8%;
    position: absolute;
    left: 8px;
    /* Adjust the left position according to your design */
    top: 50%;
    transform: translateY(-50%);
}

.input-with-icon input,
.team-details select {
    background-color: #F4F5F9;
}

.team-details select:required:invalid {
    color: #9A9BA5;
}


.team-details option[value = ""][disabled] {
    display: none;
}

.team-details option{
    color: black;
}

#state:required:invalid {
    color: #9A9BA5;
}

.aboutMe select{
    background-color: #F4F5F9;
}

.aboutMe select:required:invalid {
    color: #9A9BA5;
}

.aboutMe option[value = ""][disabled] {
    display: none;
}

.aboutMe option{
    color: black;
}


.color-picker-container {
    display: flex;
    flex-direction: row;
    /* Arrange items in a row */
    align-items: center;
    /* Align items vertically centered */
}


.color-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid transparent;
    /* Default border color is transparent */
    margin-right: 10px;
    display: flex;

    align-items: center;
    justify-content: center;
    cursor: pointer
}






/* About me  */

.aboutMe .upload-icon img {
    width: 117px;
    height: 117px;
    cursor: pointer;
    border-radius: 10px;
}

.aboutMe .upload-icon p {
    color: blue;
    cursor: pointer;
}

.aboutme-form textarea {
    background-color: #F4F5F9;

}

/* .aboutme-form textarea::placeholder{
    padding: 0.5rem;
} */

.aboutme-form input {
    padding-left: 8px;
}

.aboutme-buttons button {
    width: 20%;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.323);
    backdrop-filter: blur(2px);
    z-index: 1;
}



.half-container {
    position: fixed;
    overflow: auto;
    height: 100%;
    top: 50%;
    right: 0;
    width: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    background-color: #ffffff;
}

.details-options button {
    border: 1px solid #ccc;
    border-radius: 51%;
}

.details-options .line {
    color: #ccc;
}



.selected {
    background-color: #FBE9E9;
    border-color: #D32F2F;
}


/* team dashbord */

/* .team-dashbord{
    width: 100%;
} */

.prev-button {
    border-radius: 50%;
    padding: 0 1rem;
    background-color: #283593;
}

.prev-button:hover{
    background-color: #283593;
}

.team-banner {
    width: 100%;
    height: 16rem;
    position: relative;
    overflow: hidden;
}

.cover-pick {
    width: 83rem;
    height: 15rem;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 10px;

}

.teamlogo {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    margin-top: -1.5rem;
}

.team-Name {
    position: relative;
    z-index: 2;
    margin-top: 0.5rem;
    color: white;
}

.sports-icons {
    position: relative;
    z-index: 2;
    background-color: #f3f9f2;
    border-radius: 22px;
    width: 100%;
    height: 2rem;
    margin-top: -0.5rem;
}

.edit-penAndshare {
    position: absolute;
    z-index: 2;
    top: 1rem;
    right: 2rem;
    display: flex;
    justify-content: center;
}

.edit-penAndshare .share {
    background-color: #F4F5F9;
    width: 110px;
    padding-top: 2px;
    height: 30px;
    border-radius: 8px;
    z-index: 1 !important;

}

.edit-penAndshare .pen {
    background-color: #F4F5F9;
    width: 50px;
    height: 30px;
    padding-top: 0;
    border-radius: 8px;
    z-index: 10;
}


.edit-team-offcanvas{
    width: 50% !important;
}

.edit-penAndshare img {
    width: 20px;
    height: 20px;
    cursor: pointer;

}


.donload-invite .download {
    width: 25px;
    cursor: pointer;

}

.donload-invite .invite {
    width: 34%;
    cursor: pointer;
}

/* member dashbord */

.member-profile {
    height: 40rem;
}

.member-dashbord .prev-button {
    border-radius: 50%;
    padding: 0.5rem 1rem;
    background-color: #283593;
}

.member-profile,
.card {
    background-color: #283593;
}

.card {
    border: none;
}

.card .card-pick {
    width: 50%;
    border-radius: 50%;
}

.member-sports {
    background-color: white;
    border-radius: 20px;
    /* Adjust the value as needed */
    padding: 4px 10px 5px 10px;
    width: 40%;

}

.member-sports .sport-text {
    margin-top: 0;
    /* Reset margin */
    margin-bottom: 0;
    /* Reset margin */
}


.member-sports p {
    font-size: 16px;

}


.member-sports img {
    width: 24px;
    /* Adjust the size of the image as needed */
    height: 24px;
    /* Adjust the size of the image as needed */
}



.member-profile h5,
.member-profile p {
    color: white;
}

.card-body p {
    margin: 0;
    padding: 0;
}



/* family dashbord  */

.bell-icon {
    width: 5%;
}


/* training  */

.trainings .event-item {
    width: 100%;

}

.trainings .event-icons img {
    width: 3%;
    height: 4%;
    margin: 7px 0.6rem;
}

.rating {
    background-color: #FBE9E9;
    padding: 0 7px;
    border-radius: 10px;
}



/* training dashbord */

.training-dashbord .event-item {
    width: 100%;
}

.training-dashbord .event-icons img {
    width: 10%;
    height: 4%;
    margin: 2px 0;
}

.training-dashbord .event-item p {
    margin: 0;
}


.react-calendar__month-view__days__day {
    border: none !important;

}

.react-calendar__month-view__weekdays {
    display: none !important;
}


.banner2 img {
    width: 100%;
}


/* sessions */




.sessions {
    display: flex;
    flex-direction: column;
    height: 38rem;
    /* Set the height to 100% of the viewport height */
}

.session-container {
    flex: 0 0 auto;
    /* Don't grow or shrink, take up only the content's space */
}

.sessions-months {
    flex: 1 1 auto;
    /* Grow or shrink as needed, taking up remaining space */
    overflow-y: auto;
    /* Add vertical scrollbar when content exceeds container height */
    scrollbar-width: none;
    -ms-overflow-style: none !important;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}



.sessions-months ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 0.2rem;
    padding: 0;
}

.sessions-months ul li {
    list-style-type: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    font-size: 12px;
}



.session-btn button {
    width: 100%;
    background-color: #D32F2F;
    color: white;
}

.session-btn button:hover {
    background-color: #e54545;
    color: white;
}

.session-btn button img {
    margin-right: 0.5rem;
}


/* image croper  */

.creat-teamForm-container .reactEasyCrop_Container{
    width: 100%;
    height: 39rem;
}
.edit-team-component .reactEasyCrop_Container {
    width: 100%;
    height: 34rem;
}

@media screen and (max-width: 1284px) {

    .edit-team-offcanvas{
        width: 100% !important;
    }

    .create-team-offcanvas{
        width: 100% !important;
    }

    .half-container {
        width: 100%;
        position: fixed;
        overflow: auto;

    }

    .Team-options button {
        margin: 1rem;
        width: 10rem;
        border: 0.8px solid #ccc;

    }

    .Team-options {
        margin: 0.4rem 0.4rem 0.4rem 0.5rem;
        width: 95%;
        border: 0.8px solid #ccc;
    }

    .create-options button {
        margin: 1rem 0.4rem;
    }

    .create-options {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .sportIcon img {
        width: 1rem;
    }


    .prev-button {


        padding: 0 0.8rem;
        margin-left: 1rem;

    }


    /* .team-dashbord{
        width: 100%;
    } */


}