@import 'react-datepicker/dist/react-datepicker.css';

.login-bootm-img img {
    width: 100%;
    
}

.login-bootm-img{
    display: flex !important;
    justify-content: center !important;
}


input {
    /* background-color: #f8f9fa !important; */
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
}

.react-tel-input .flag-dropdown {
    border: none !important;
    
}





.halfScreen .react-datepicker-wrapper,
.halfScreen .react-datepicker__input-container {
  width: 93% !important;
  position: absolute !important;
  right: 0 !important;
  height: 57px !important;
  border-radius: 8px !important;
}


.login-botton  {
    width: 100%;
    background-color: #D32F2F !important;
    color: white;
}

.Register-button button{
    width: 100%;
    background-color: #D32F2F !important;
    color: white;
}




.input-group-text img {
    width: 30px;
    /* Adjust the size of the image as needed */
    height: auto;
    /* Adjust the spacing between the image and input field */
}
.input-group span{
    background-color: #F4F5F9;
    border-right: none;
    
}



.register-prosess .input-group input  {
    background-color: #F4F5F9 !important;
    border-radius:0 8px  8px 0 !important;
    
}

.input-group input::placeholder{
    color: #9A9BA5;
}

.input-group select{
    background-color: #F4F5F9 !important;
    color: #9A9BA5;
    border: 1px solid #ccc; /* Remove the default red border */
    outline: none; /* Remove the default outline */
    padding: 10px; /* Add padding for better appearance */
    border-radius: 8px; /* Add border radius for better appearance */
    
}

.input-group select:focus {
    border: 1px solid #ccc; /* Maintain consistent border on focus */
    box-shadow: none; /* Remove default focus shadow */
  }



.input-group select option{
    color: #9A9BA5 ;
    
}

.input-group select.placeholder {
    color: #8c8c8f !important;
}

.input-group select.selected {
    
    color: black !important;
}



.custom-color{
    color: #283593;
}

.mobile-number{
    padding-left: 0 !important;
    
}

.react-tel-input .form-control{
    width: 100% !important;
    height: 50px !important;
    border: none !important;
    padding-right: 0 !important;
    
    
}



.react-tel-input .selected-flag{
    border: none !important;
}

.react-datepicker__month-select, .react-datepicker__year-select{
    padding: 10px !important;
    border-radius: 8px !important;
    margin: 1rem 0 !important;
}











/* Disable scrolling on body when modal is open */



.blur-background {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.323);
    backdrop-filter: blur(2px);
    z-index: 1;

}


.container-right {
    position: absolute;
    overflow: hidden;
    width: 30%;
    height: 100vh;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1000;
    background-color: #ffffff; 
    transition: opacity 0.3s ease-in-out;
}

.account_info {
    flex: 0 0 auto; 
  }

.register-form{
  flex: 1 1 auto;
  height: 75vh;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
  overflow-y: auto;
  /* padding-bottom: 1rem; */

}


.container-right h3{
    margin-left: 1.8rem !important;
}

.forgot-password-img img {
    width: 48%;
    padding: 2rem 0 1rem 0;
}




/* sports items  */

.sports-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: auto;
    height: 67vh;
    scrollbar-width: none;
}

.sport-item {
    cursor: pointer;
    width: calc(33.33% - 20px);
    height: 100px;
    margin-bottom: 15px;
}

.sport-item img {
    width: 36%;
}

.sport-item.selected {
    background-color: #FBEBEB;
}

.sport-item:hover {
    background-color: #FBEBEB;
}



.login-line {
    flex-grow: 1;
    height: 0.5px;
    background-color: #F2F2F4;
}
.p-container {
    display: flex;
    align-items: center;
    text-align: center;
}
.mx-2 {
    margin: 0 1rem; /* Adjust the margin to your preference */
}

/* google login  */


.nsm7Bb-HzV7m-LgbsSe {
    width: 40px !important;
    background-color: #FDEBE9 !important;
    border-radius: 50% !important;
}



.kep-login-facebook{
    background-color:  #E7F1FB !important;
    border:  none !important;
    width: 38px !important;
    height: 38px !important;
    border-radius: 50% !important;
    padding: 0 !important;
}

.facebook-icon{
    font-size: 38px;
    color: #1976D2;    
}

#appleid-signin{
    width: 40px !important;
    height: 40px !important;
}



@media screen and (max-width: 1284px) {

    .login-offcanvas{
        width: 100% !important;
    }

    .container-right {
        width: 100%;
        height: 100%;
        position: fixed;
        overflow: auto;
        padding-bottom: 1rem;
      
    }
    
    .blur-background{
        display: none;
    }
   
}

