.login-bootm-img img {
    width: 100%;
    
}

.login-bootm-img{
    display: flex !important;
    justify-content: center !important;
}


input {
    /* background-color: #f8f9fa !important; */
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
}



.login-botton  {
    width: 100%;
    background-color: #D32F2F !important;
    color: white;
}

.Register-button button{
    width: 100%;
    background-color: #D32F2F !important;
    color: white;
}




.input-group-text img {
    width: 30px;
    /* Adjust the size of the image as needed */
    height: auto;
    /* Adjust the spacing between the image and input field */
}
.input-group span{
    background-color: #F4F5F9;
    border-right: none;
    
}

.input-group input  {
    background-color: #F4F5F9;
    
}

.input-group input::placeholder{
    color: #9A9BA5;
}

.input-group select {
    background-color: #F4F5F9;
    color: #9A9BA5;
}

.input-group select option{
    color: #9A9BA5 !important;
    
}

.custom-color{
    color: #283593;
}


.contury-code{ 
    padding: 0;
    margin: 0;
    border-left: none;
    width: 3.8rem !important;
    padding-left: 0 !important;
    border-top: none;
    border-bottom: none;
    font-size: 16px;
}


/* Disable scrolling on body when modal is open */



.blur-background {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.323);
    backdrop-filter: blur(2px);
    z-index: 1;

}


.container-right {
    position: absolute;
    overflow: hidden;
    width: 30%;
    height: 100vh;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1000;
    background-color: #ffffff;
   
    transition: opacity 0.3s ease-in-out;
}

.account_info {
    flex: 0 0 auto; 
  }

.register-form{
  flex: 1 1 auto;
  height: 75vh;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
  overflow-y: auto;
  /* padding-bottom: 1rem; */

}


.container-right h3{
    margin-left: 1.8rem !important;
}

.forgot-password-img img {
    width: 48%;
    padding: 2rem 0 1rem 0;
}




/* sports items  */

.sports-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: auto;
    height: 62vh;
    scrollbar-width: none;
}

.sport-item {
    cursor: pointer;

    width: calc(33.33% - 20px);
    height: 24%;
    margin-bottom: 15px;
}

.sport-item img {
    width: 36%;
}

.sport-item.selected {
    background-color: #FBEBEB;
}

.sport-item:hover {
    background-color: #FBEBEB;
}






@media screen and (max-width: 1284px) {

    .container-right {
        width: 100%;
        height: 100%;
        position: fixed;
        overflow: auto;
        padding-bottom: 1rem;
      
    }
    
    .blur-background{
        display: none;
    }
   
}

