
/* main container  */

.options {
    padding-top: 1rem;
    border-radius: 10%;
    margin: 1rem 0;
}

.viewAll {
    color: #D32F2F;
}



.event-item h4 {
    font-size: 1.4 rem;
    margin-left: 1rem;
}

.event-icons img {
    width: 9%;

    margin: 5px 1rem;
}

.event-item p {
    color: #4F5163;
    margin: 5px 0;

}

.traning-center h4 {
    margin-left: 1rem !important;
}






/* you tube video styles  */


.videos img {
    width: 100%;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
}






@media (min-width: 768px) {
    .event-item {
        max-width: 45%;
        /* Adjust the value as needed */
    }

    .options {
        margin: 0;
    }

}

