/* Sidebar styles */
.sidebar img {
    width: 15%;
    margin-right: 5px;
}


/* Toggler button styles */
.hamburger {
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
}

.sidebar {
    /* position: fixed;   */
    left: 0;
    transition: left 0.3s ease;
    animation-duration: 0.3s;
    /* overflow-y: auto;  */

}

/* Active state styles */
.active {
    transform: translateX(0);
}

/* Sidebar links styles */
.links {
    padding: 20px;
}

.links a {
    display: block;
    color: #4F5163;
    text-decoration: none;
    margin-bottom: 10px;
}

.links a:hover {
    color: black;
}

.link {
    padding: 1rem;
}

.link:hover {
    background-color: #FDF4F4;
}


.active {
    animation-name: slideCome;
}

.inactive {
    animation-name: slideOut;

}


@keyframes slideCome {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}



/* main container  */

.options {
    padding-top: 1rem;
    border-radius: 10%;
    margin: 1rem 0;
}

.viewAll {
    color: #D32F2F;
}



.event-item h4{
    font-size: 1.4  rem;
        margin-left: 1rem;
}

.event-icons img{
    width: 9%;
    
    margin: 5px 1rem;
}

.event-item p{
    color: #4F5163;
    margin: 5px 0;

}

.traning-center h4{
    margin-left: 1rem !important;
}






/* messages  */
.filter {
    width: 70%;
}

.media img {
    width: 15%;
    margin-right: 1rem;
}

.media-text h5 {
    font-size: 1rem;
}

.search input{
    background-color: #F4F5F9;
}




@media (min-width: 768px) {
    .event-item {
      max-width: 45%; /* Adjust the value as needed */
    }

    .options{
        margin: 0;
    }

  }
  