.screenshots{
  background-color: #283593;
 
}
.screenShots-info{
  width: 100%;
}
.screenShots-info p{
  font-size: 12px;
  
}




/* Slider.css */





.swiper-slide img {
  width: 100%;
  
}

.swiper-slide-active img {
  width: 100%;

}


.swiper-slide-next + .swiper-slide img {
  opacity: 0.5;
  
}

.swiper-slide-prev + .swiper-slide img {
  opacity: 0.5;
}






