.contact-us {
    background-color: #080f41;
    padding: 4rem;
}



.contact-text h1 {
    font-size: 64px;
}

.contact-text p {
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 1rem;
}



.list ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.list li {
    margin-right: 5rem;
    font-size: 20px;
}

.list h3,
.list p {
    margin: 0;
    font-size: 20px;
}




.form input {
    padding: 15px 8px;
    border-radius: 10px;
    margin: 0.5rem;
}

select {
    
    border-radius: 10px;
    padding: 15px 8px !important;

    margin: 0.5rem;
    font-size: 12px;
}



form textarea {
    width: 60%;
    height: 20vh;

    margin: 0.5rem;

    border-radius: 10px;
}

.submit-btn button{
   width: 20%;
   padding: 1rem;
   
}

