.feedback {
    background-color: #f4ceceeb; /* Set background color */
    background-image: url("./feedbackIcons/feebackIcon.png") ; /* Set background image */
    background-size: 100%;
    background-position: center; /* Center the background image */
}


.download-app{
    width: 80%;
}

.feedback-link{
    margin-top: 7rem;
    margin-left: 6rem;
}

.feedback-link h1{
    font-weight: 800;
    font-size: 64px;
}

.feedback-link p{
    font-size: 20px;
}