.about {
    background-color: #283593;
    padding: 4rem 0;
}

.about h1 {
    font-size: 3rem;
    font-weight: 800;
    
}

.director-info  {
    font-size: 4rem;
    font-weight: 800;
}

.info-profession {
    font-size: 1.9375rem;
}

.info-para {
    font-size: 1.75rem;
    width: 80%;
}

.director-pick img {
    width: 78%;
    height: auto;
}