.about {
    background-color: #283593;
    padding: 4rem 0;
}

.about h1 {
    font-size: 3rem;
    font-weight: 800;
    
}

.director-info  {
    font-size: 4rem;
    font-weight: 800;
}

.info-profession {
    font-size: 1.9375rem;
}

.info-para {
    font-size: 1.75rem;
    width: 80%;
}

.director-pick img {
    width: 78%;
    height: auto;
}


.polygon img{
    margin-right: 1rem;
   
    
}

.polygon p{
    padding-top: 1rem;
}

.polygon2 img{
    margin-right: 1rem;
}

.polygon2 p{
    
  padding-top: 1rem;
 
}
.polygon2{
    padding-left: 2rem;
}

.TNC h2{
 margin-top: 1rem;
 margin-bottom: 1rem;
}

.policy h2 , .cookies h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}