/*text animations */

.text-animation1,
.text-animation2 {
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.text-animation1 {
  -webkit-animation: dropIn 1s ease forwards;
          animation: dropIn 1s ease forwards;
}

.text-animation2 {
  -webkit-animation: dropIn 1s ease forwards;
          animation: dropIn 1s ease forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes dropIn {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes dropIn {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


/*app links animations */
.app-links {
  -webkit-animation: dropUp 1s ease forwards;
          animation: dropUp 1s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes dropUp {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes dropUp {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


/* ball and side picks animations */
.ball {
  -webkit-animation: comeUp 1s ease  forwards,  popup 2s ease 1s infinite;
          animation: comeUp 1s ease  forwards,  popup 2s ease 1s infinite;
  width: 12%;
  margin-top: -15rem;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes comeUp {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes comeUp {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


@-webkit-keyframes popup {

  0%,
  100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
  }

  50% {
      -webkit-transform: translateY(-15px);
              transform: translateY(-15px);
  }
}


@keyframes popup {

  0%,
  100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
  }

  50% {
      -webkit-transform: translateY(-15px);
              transform: translateY(-15px);
  }
}


.animation1 , .animation2 {
  

  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;

}

.animation1{
  -webkit-animation: SlideLeft 1s ease  forwards,  popup 2s ease 1s infinite;
          animation: SlideLeft 1s ease  forwards,  popup 2s ease 1s infinite;
   
}

@-webkit-keyframes SlideLeft {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes SlideLeft {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes popup {

  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.animation2{
  -webkit-animation: SlideRight 1s ease  forwards,  popup 2s ease 1s infinite;
          animation: SlideRight 1s ease  forwards,  popup 2s ease 1s infinite;
    
}

@-webkit-keyframes SlideRight {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes SlideRight {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/*picks animations */
.player1,
.player2,
.player3,
.player4 {
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}


.player1 {
  -webkit-animation: slideIn 1.5s ease forwards;
          animation: slideIn 1.5s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.player2 {
  -webkit-animation: fadeIn 1.5s ease forwards;
          animation: fadeIn 1.5s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.player3 {
  -webkit-animation: rotate 1.5s ease forwards;
          animation: rotate 1.5s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.player4 {
  -webkit-animation: scale 1.5s ease forwards;
          animation: scale 1.5s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}



@-webkit-keyframes slideIn {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}



@keyframes slideIn {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes scale {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes scale {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


