

.contact-us {
    background-color: #080f41;
    padding: 4rem;
}




.contact-text h1 {
    font-size: 64px;
}

.contact-text p {
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 1rem;
}



.list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    padding: 0;
}

.list li {
    margin-right: 5rem;
    font-size: 20px;
}

.list h3,
.list p {
    margin: 0;
    font-size: 20px;
}




.form input {
    padding: 15px 8px;
    border-radius: 10px;
    margin: 0.5rem 0;
}

.contact-us select {
    
    border-radius: 10px;
    padding: 15px 8px !important;

    margin: 0.5rem 0;
    font-size: 12px;
}



form textarea {
    width: 60%;
    height: 20vh;

    margin: 0.5rem 0;

    border-radius: 10px;
}

.submit-btn button{
   width: 20%;
   font-size: 1.3rem;
   font-weight: 400;
   background-color: #D32F2F;
}



/* contact page styles  */

.custom-contact .contact-us {
    background-color: #ffffff;
    margin-top: 0;
}


.custom-contact .contact-text p,
.custom-contact .contact-text h1,
.custom-contact .contact-text h3{
    color: black;
}

.custom-contact input,
.custom-contact select,
.custom-contact textarea{
    background-color: #EAEBF5;
}


@media screen and (max-width: 1284px) {
    .submit-btn button{
        width: 50%;
        font-size: 1rem;
        font-weight: 400;
        background-color: #D32F2F;
     }

     .contact-us {
        background-color: #080f41;
        padding: 1.5rem;
    }
  
}