

.feedback {
    background-color: #f4ceceeb; /* Set background color */
    background-image: url("../feedbackIcons/feebackIcon.png") ; /* Set background image */
    background-size: 100%;
    background-position: center; /* Center the background image */
}

.feedback-link .app-links{
    width: 9rem!important;
}

.download-app{
    width: 80%;
}

.feedback-link{
   padding: 2rem;
}

.feedback-link h1{
    font-weight: 800;
    font-size: 64px;
}

.feedback-link p{
    font-size: 20px;
}

@media screen and (max-width: 1284px) {
    
    /* .feedback-link .app-links{
        width: 6rem!important;
    } */

    
}